<h1>Josh is so great</h1>
<h1>Effingham Railroad Online Resumes</h1>
<h2>Check out our SUPER AWESOME COHORT!</h2>

<% @students.each do |student| %>
  <h4><%= student["first_name"] %> <%= student["last_name"] %></h4>
  <p>Phone Number: <%= student["phone_number"] %></p>
  <p>Email: <%= student["email"] %></p>
  <p>Online Resume: <%= student["online_resume_url"] %></p>

<% end %>